.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1200px;
  font-family: "Jura", sans-serif;
  color: #b3b3b3;
  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-container {
  display: flex;
  justify-content: space-between;
  height: 20%;
  justify-content: space-around;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 20%;
  height: 200px;
  flex-direction: column;
}

.top-switches {
  width: 100%;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.switch {
  width: 130px;
  height: 40px;
  background-color: #282c37;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.circle {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 4px solid black;
}

.circle-clicked {
  transition: opacity 0.1s;
  opacity: 1;
  background-color: #21e229;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 4px solid black;
}

.switch:hover {
  cursor: pointer;
}

.bottom-switch {
  display: flex;
  justify-content: center;
}

.info-box {
  transition: opacity 0.5s;
  opacity: 1;
  width: 375px;
  height: 550px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.info-box p {
  font-size: 20px;
  margin: 0px 10px 0px 10px;
}

.info-box-hidden {
  transition: opacity 0.5s;
  opacity: 0;
  width: 375px;
  height: 550px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-box {
  margin-top: 20px;
  transition: opacity 0.5s;
  opacity: 1;
  width: 20%;
  height: 250px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact-box-hidden {
  margin-top: 20px;
  transition: opacity 0.5s;
  opacity: 0;
  width: 20%;
  height: 250px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.info-box p,
.info-box-hidden p,
.contact-box p,
.contact-box-hidden p {
  font-size: 20px;
  margin: 0px 10px 0px 10px;
}

.important,
li {
  font-weight: 700px;
  color: #21e229;
}
